/*Name:          Guanshuo Feng
   Student name:  C00278723
   Date:          28/09/2023
   Purpose:       exercise1*/
/* Basic box styles */  
.box {  
  width: 200px;  
  height: 200px;  
  margin: 10px;  
}  
  
/* Border styles */  
.border {  
  border-width: 2px;  
  border-style: solid;  
  border-color: black;  
}  
  
/* Blue box styles */  
.blue {  
  background-color: blue;  
  color: white;  
}  
  
/* Red box styles */  
.red {  
  background-color: red;  
  color: white;  
}  
  
/* Green box styles */  
.green {  
  background-color: green;  
  color: white;  
}