/*student Name : Feng Guansuo */
/* student ID :   C00278723 */
/*date :         13/10/2023*/
input:invalid {
    border: rgb(156, 142, 142) solid 3px;
  }
input[required]:valid {
    border: green solid 3px;
  }
body {  
    font-family: Arial, sans-serif; 
    background-color: rgb(196, 212, 196); 
}  
  
form {  
    width: 400px;  
    margin: 0 auto;/* if donnot set the left and right margin as 0 it will very mass*/ 
}  
  
input {  
    width: 100%;  
    padding: 12px 20px;  
    margin: 8px 0;  /* if donnot set the left and right margin as 0 it will very mass*/
    box-sizing: border-box;  
	outline : none;
}  
  
input[type=submit], input[type=button],input[type=reset] {  
    width: 100%;  
    background-color: #b7d8bc;  
    color: rgb(95, 91, 91);  
    padding: 12px 20px;  /*上下  左右边距*/
    margin: 8px 0;   
    cursor: pointer; /*Mouse over shape 鼠标悬停形状*/ 
}
