/* Name:          Guanshuo Feng
   Student name:  C00278723
   Date:          05/10/2023
   Purpose:       exercise1>*/
.flex-container {  
  display: flex; /* 设置容器的display属性为flex */  
  flex-wrap: wrap; /* 允许项目在容器宽度有限时换行到新的一行 */  
  justify-content: center; /* 控制项目在水平方向上的对齐方式 */  
  align-items: center; /* 控制项目在垂直方向上的对齐方式 */  
}  
.flex-item {
/* 设置弹性项目的宽度为100像素 */
width: 100px;

/* 设置弹性项目的高度为100像素 */
height: 100px;

/* 设置弹性项目的背景颜色为灰色 */
background-color: #ccc;

/* 设置弹性项目的外边距为10像素 */
margin: 10px;

/* 设置弹性项目的文本对齐方式为居中 */
text-align: center;

/* 设置弹性项目的行高为100像素，使文字垂直居中 */
line-height: 100px;

/* 设置弹性项目的字体大小为24像素 */
font-size: 24px;
}