body, html {  
    height: 100%;  /* 设定body和html的高度为100%，这是为了给footer提供空间 */  
 
}  
.content {  
    min-height: 100%;  /* 内容区域至少占满整个页面，这样可以确保内容不会出现在footer之上 */  
    padding-bottom: 50px; /* 留出一些空间给footer */  
}  
  
.footer {  
    position: fixed; /* 让footer始终保持在页面底部 */  
    left: 0;
    BOTTOM:0;  
    width: 100%;  /* footer宽度占满整个页面 */  
    background-color: red; /* footer背景颜色为红色 */  
    color: white; /* 文字颜色为白色 */  
    text-align: center; /* 文字居中显示 */  
    height: 50px; /* 设置footer的高度 */  
    line-height: 50px; /* 设置行高，使文字垂直居中 */  
}